Source: capi-location-manager
Section: libs
Priority: extra
Maintainer: Kangho Hur <kangho.hur@samsung.com>, ByungWoo Lee <bw1212.lee@samsung.com>, wYoungae Kang <youngae.kang@samsung.com>, Minjune Kim <sena06.kim@samsung.com>, Genie Kim <daejins.kim@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev, libslp-location-dev, capi-base-common-dev

Package: capi-location-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A Location Manager library in Tizen Native API

Package: capi-location-manager-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-location-manager (= ${Source-Version}), capi-base-common-dev
Description: A Location Manager library in Tizen Native API (DEV)

Package: capi-location-manager-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-location-manager (= ${Source-Version})
Description: A Location Manager library in Tizen Native API (DBG)

